.item {
  margin-bottom: 30px;
}
.sub-item {
  margin-top: 20px;

}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: red
}

label {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #808080;
}